# {{{projectName}}}
{{#appDescription}}
{{{appDescription}}}
{{/appDescription}}


- API version: {{appVersion}}
- Package version: {{packageVersion}}
{{^hideGenerationTimestamp}}
- Build date: {{generatedDate}}
{{/hideGenerationTimestamp}}
- Build package: {{generatorClass}}
{{#infoUrl}}
For more information, please visit [{{{infoUrl}}}]({{{infoUrl}}})
{{/infoUrl}}

For more information about the [GeoAPI](https://github.com/TACC-Cloud/geoap) and how this client is generated using [Swagger Codegen](https://github.com/swagger-api/swagger-codegen), visit https://github.com/TACC-Cloud/geoap .

## Requirements.

Python 2.7 and 3.4+

## Installation & Usage
### pip install

The python package can be found at [PyPi](https://pypi.org/project/geoapi-client/)

```sh
pip install {{{projectName}}} --user
```

Then import the package:
```python
import {{{packageName}}} 
```

## Getting Started

Please follow the [installation procedure](#installation--usage) and then run the following:

```python
import geoapi_client
from geoapi_client.rest import ApiException

configuration = geoapi_client.Configuration()
configuration.host = MY_HOST # e.g. https://agave.designsafe-ci.org/geo/v2
configuration.api_key_prefix['Authorization'] = 'Bearer'
configuration.api_key['Authorization'] = TOKEN

api_client = geoapi_client.ApiClient(configuration)
api_instance = geoapi_client.ProjectsApi(api_client=api_client)
```

To get api/help:


```
help(api_instance)
```
To list projects and create a project:
```
try:
    projects = api_instance.get_projects()
    print(projects)
    project = api_instance.create_project(payload={"project": {"name": "My project"}})
    print(project)
except ApiException as e:
    print("Exception: %s\n" % e)
```

## API Endpoints

All URIs are relative to *{{basePath}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | **{{operationId}}** | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Models

{{#models}}{{#model}} - {{{classname}}}
{{/model}}{{/models}}

## Documentation For Authorization

{{^authMethods}} All endpoints do not require authorization.
{{/authMethods}}{{#authMethods}}{{#last}} Authentication schemes defined for the API:{{/last}}{{/authMethods}}
{{#authMethods}}## {{{name}}}

{{#isApiKey}}- **Type**: API key
- **API key parameter name**: {{{keyParamName}}}
- **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}
{{/isApiKey}}
{{#isBasic}}- **Type**: HTTP basic authentication
{{/isBasic}}
{{#isOAuth}}- **Type**: OAuth
- **Flow**: {{{flow}}}
- **Authorization URL**: {{{authorizationUrl}}}
- **Scopes**: {{^scopes}}N/A{{/scopes}}
{{#scopes}} - **{{{scope}}}**: {{{description}}}
{{/scopes}}
{{/isOAuth}}

{{/authMethods}}

## Author

Texas Advanced Computing Center
CICsupport@tacc.utexas.edu
