services:
  postgres:
    image: postgis/postgis:11-3.3
    env_file: ../../../secret.env # username/password
    volumes:
      - /database:/var/lib/postgresql/data
      - ./postgresql.conf:/var/lib/postgresql/data/postgresql.conf:ro   # Comment out on initial db setup run!
    ports:
      - "5432:5432"
    stdin_open: true
    tty: true
    restart: always
    container_name: geoapi_postgres
