alembic==1.7.6
celery==5.2.3
flask-restplus==0.13.0
GeoAlchemy2==0.11.1
geojson==2.5.0
ffmpeg-python==0.2.0
geopandas==0.10.2
PyJWT==2.3.0
pyproj==3.3.0
pytest==5.3.5
pytest-cov==2.8.1
Shapely==1.7.0
SQLAlchemy==1.3.13
Werkzeug==0.16.1
Pillow==9.0.1
Fiona==1.8.21
gunicorn==20.1.0
